<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/views/jobs/all"> Cluster summary </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/views/slots/all"> Nodes </a>
      <a class="navbar-item" href="/views/submit/all"> Schedulers </a>
      <a
        class="navbar-item"
        href="http://grafana.dice.priv:3000/dashboard/public"
      >
        Historical data
      </a>
      <a class="navbar-item" href="/prometheus/metrics"> Metrics </a>
      <a class="navbar-item" href="/docs"> API </a>
      <a
        class="navbar-item"
        href="https://github.com/BristolComputing/htcondor-dashboard"
      >
        <figure class="image is-32x32">
          <img class="is-rounded" src="/static/github.png" alt="GitHub" />
        </figure>
      </a>
    </div>
  </div>
</nav>
