<div class="container">
  <h1 class="title">HTCondor worker nodes</h1>
  <div class="container">
    <h2 class="subtitle">Overview</h2>
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          {% for column in totals.columns -%}
          <th>{{ column }}</th>
          {% endfor -%}
        </tr>
      </thead>
      <tbody>
        {% for _, row in totals.iterrows() -%}
        <tr>
          {% for column in totals.columns -%}
          <td>{{ row[column] }}</td>
          {% endfor -%}
        </tr>
        {% endfor -%}
      </tbody>
    </table>
  </div>
  <div class="container py-6">
    <h2 class="subtitle">Details</h2>
    <table class="table is-striped is-fullwidth">
      <thead>
        <tr>
          {% for column in slots.columns -%}
          <th>{{ column }}</th>
          {% endfor -%}
        </tr>
      </thead>
      <tbody>
        {% for _, row in slots.iterrows() %}
        <tr>
          {% for column in slots.columns -%} {% if column == "FQDN" -%}
          <td>
            <a href="/views/slots/{{ row[column] }}">{{ row[column] }}</a>
          </td>
          {% else -%}
          <td>{{ row[column] }}</td>
          {% endif -%} {% endfor -%}
        </tr>
        {% endfor -%}
      </tbody>
    </table>
  </div>
</div>
