<div class="container">
    <h1 class="title">
        Submit nodes
    </h1>
    <div class="container py-6">
        <h2 class="subtitle"> Overview </h2>
        TODO: This will summarize the jobs broken down by submit node
    </div>
    <div class="container py-6">
        <h2 class="subtitle"> Health </h2>
        TODO: This will summarize the health of a submit node, such as number of failures in the last N hours, type of error messages, memory used by condor_shadow etc.
      </div>
</div>