<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Hello Bulma!</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
  </head>

  <body>
    <section class="hero is-medium">
      <div class="hero-head">
        <div class="container">{% include "partials/navbar.html" %}</div>
      </div>
    </section>
    <section class="section">
      <div class="container is-widescreen">
        {% if view_template=="jobs_overview.html" %} {% include
        "partials/jobs_overview.html" %} {% elif
        view_template=="nodes_overview.html" %} {% include
        "partials/nodes_overview.html" %} {% elif
        view_template=="node_details.html" %} {% include
        "partials/node_details.html" %} {% elif
        view_template=="submit_overview.html" %} {% include
        "partials/submit_overview.html" %} {% else %}
        <div class="container">
          <h1 class="title">HTCondor Dashboard</h1>
          <h2 class="subtitle">Welcome to the HTCondor Dashboard</h2>
        </div>
        {% endif %}
      </div>
    </section>
  </body>
</html>
